<div class="container">
  <div class="p-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <form *ngIf="formation && formationForm" (ngSubmit)="updateFormation()" [formGroup]="formationForm">
              <div class="mb-3">
                <label class="form-label">Titre</label>
                <input class="form-control" value="{{formation.titre}}" formControlName="titre">
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <input class="form-control" value="{{formation.description}}" formControlName="description">
              </div>
              <div class="mb-3">
                <label class="form-label">Date Start: </label>
                <input type="datetime-local" class="form-control" [value]="formatDate(formation.dateDebut)" formControlName="dateDebut">
              </div>
              <div class="mb-3">
                <label class="form-label">Date End: </label>
                <input type="datetime-local" class="form-control" [value]="formatDate(formation.dateFin)" formControlName="dateFin">
              </div>
              <button class="btn btn-success" [disabled]="formationForm.invalid">update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
